@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Edu+SA+Beginner&family=REM&family=Roboto:wght@500&display=swap');
header{
   
    display: flex;
    /* background-color:white; */
    font-size: 1.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 100px;
    margin: -1px;
}
body{
    /* background-image: url('winter-background-with-pastel-color-brushes-leaves_220290-42\ \(1\).jpg'); */
    background-repeat: repeat;
}
nav  ul li {
    
    /* margin-left:10% ; */
    display: inline-block;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    background-color: black;
    color: white;
   border-radius: 10%;
   padding: 5px;
}
nav{
    margin-left: 450px;
}
.logo{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-left: 40px;
}
.first-grid{
    display: grid;
    display: flex;
    flex-wrap: wrap;
    
   
}
.welcome{
    font-size: 3.2rem;
    margin-top: 8%;
    margin-left: 300px;
    word-spacing: 10rem;
    font-family: 'Courgette', cursive;
}

.pre1{
    font-size: 3.2rem;
    margin-top: 40%;
    margin-left: -30%;
    font-family: 'Courgette', cursive;

    
}
.pre2{
    font-size: 3.2rem;
    margin-top: -8%;
    margin-left: -70%;
    font-family: 'Courgette', cursive;
}
.img2{
   height:120px;
   width: 120px;
   margin-top: -35px;
   margin-left: -35%;
   border-radius: 50%;
}

    .pseudo-partial-border{
    position: relative;
    width: 650px;
    height: 471px;
    padding: 7px;
    margin: 55px;
    background: transparent;
    border: none;
    text-align: center;
  }
.pseudo-partial-border::before,
.pseudo-partial-border::after {
  position: absolute;
  width: 270px;
  height: 240px;
margin-left: 150px;
margin-right: -750px;
  content: "";
}
.pseudo-partial-border::before {
    left: 0;
    top: 0;
    border-left: 3px solid black;
    border-top: 3px solid black;
   }
   .pseudo-partial-border::after {
    right: 0;
    bottom: 0;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
   }
   #home video{
    height: 700px;
    width: 800px;
    margin-left: 800px;
    margin-top: -550px;
   position: relative;
   animation:myfirst 1.5s;
   
   animation-direction: alternate;
}
 @keyframes myfirst{
    0%   { left: 0px; top: 0px;}
    25%  { left: 900px; top: 0px;}
   
  }
  #about{
    margin-top: -90px;
    color: burlywood;
    
  }
  #about .about1{
  font-size: 2.5rem;
    margin-top: -25px;
    margin-left: 740px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    
  }
  #about pre{
    margin-top: -5%;
    margin-left: 10%;
    /* margin-right: 20%; */
    font-size: 1.5rem;
    color: burlywood;
    font-family: 'Courgette', cursive;

  }
  #about:hover pre{
    
    transition-duration: 1s;
    background-color: transparent;
    color: black;
  }

.grid{
    display: grid;
    display: flex;
    flex-wrap: wrap;
    
   
}
.img1{
    height: 250px;
     width: 250px;
     margin-top: -800px;
     margin-left:1100px;
      border-radius: 10%;
}

 #types h2{

    font-size: 3rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .img3{
    height:250px;
    width: 250px;
    margin-left: 53px;
    border:solid black 10px;
    
 }
 .img4{
    height:250px;
    width: 250px;
    margin-left: 30px;
    border:solid black 10px;
   
 }
 .img5{
    height:250px;
    width: 250px;
    margin-left: 3%;
    border:solid black 10px;
   
 }
 .img6{
    height:250px;
    width: 250px;
    margin-left: 3%;
    border:solid black 10px;
 }
 .img7{
    height:250px;
    width: 250px;
    margin-left: 23%;
    border:solid black 10px;

 }
 

 .container {
    position: relative;
    width: 80%;
   
  }
  .grid2{
    display: grid;
    display: flex;
    flex-wrap: wrap;
    
   
}
  .overlay {
    position:absolute ;
    top: 8px;
    bottom: 0;
    left: 63px;
    right: 0;
    height: 92%;
    width: 97%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Courgette', cursive;
  }  

 #Quotation h2{
    font-size: 3rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 #Quotation pre{
    font-size: 3rem;
    margin-top: 0%;
    margin-left: 15%; 
    font-family: 'Courgette', cursive;

 }
 #Quotation:hover{
  border: solid black 4px;
 }
  #move {
    display: flex;
    overflow: auto;
    height: 50%;
    width: 100%;
    scroll-snap-type: x mandatory
 }
 #move .slide{
    display: inline;
 }
 #move .slide{
      padding: 100px;
 }
 
 #videos h2{
    height: 700px;
    width: 800px;
    margin-left: 800px;
    margin-top: -550px;
   position: relative;
   animation:myfirst 1.5s;
   
   animation-direction: alternate;
}
 @keyframes myfirst{
    0%   { left: 0px; top: 0px;}
    25%  { left: 900px; top: 0px;}
   
}
.ms{
    width: 300px;
    height: 300px;
    border: solid black 10px;
}
.ms:hover{
   transform: scale(1.5,1.5);
}
#Videos h1{
  font-size: 3rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
button{
  height: 70px;
  width: 390px;
  margin-top: 90px;
  margin-left: 600px;
  background-color: black;
  border-radius: 50%;
  font-family: 'Courgette', cursive;
}
button a{
  color: white;
  font-size: 2rem;
  padding: 10px;
  text-decoration: none;
}
#review img{

   height: 150px;
   width: 500px;
  
   margin-left: 200px;

}
#review h2{
  font-size: 3rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#contact h2{
  font-size: 3rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#contact pre{
  text-align: center;
  font-size: 2rem;
  font-family: 'Courgette', cursive;

}
footer{
  font-family: 'Courgette', cursive;
  text-align: center;
  /* margin-top: 10px; */
  background-color: black;
  color: white;
  height: 150px;
  width: 100%;
}
.line{
  padding: 40px;
}


        
/* transition-duration: 2s; */
